/NetBeans/helloworld/nbproject/private/
/NetBeans/helloworld/build/
/NetBeans/Clock/nbproject/private/
/NetBeans/tictoc/nbproject/private/
/NetBeans/tictoc/dist/
/NetBeans/tictoc/build/
*.pdf
/Project/
/NetBeans/EmployeeApp/nbproject/private/
/NetBeans/Hua/nbproject/private/
/NetBeans/Hua/build/
/NetBeans/Hua/dist/
